{% extends "base.html" %}
{% load static %}

{% block title %}
{{ user.username|title }} | {{ block.super }}
{% endblock %}


{% block content %}
<div class="row">
    <div class="container">
        <img onclick="get_file()" id="upd_image"
             src="{% static 'img/user-default.png' %}" class="img-thumbnail"/>
        <h1 class="username">{{ user.username|title }}</h1>
        <p> {{ user.date_joined }}</p>
        <p> {{ user.last_login }}</p>
        <a class="btn btn-outline-danger" href="{% url 'logout_url' %}">Выход</a>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    function get_file() {
        document.getElementById("upd_image").click();
    }
</script>
{% endblock %}
