<div class="card mb-4">
    <div class="card-header">
        <p>{{ post.date_create }}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body|truncatewords:10 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-danger">Просмотреть</a>
    </div>
    {% if post.tags.all %}
    <div class="card-footer text-muted">
        Теги:
        {% for tag in post.tags.all %}
        <span class="badge badge-danger">
                <a href="{{ tag.get_absolute_url }}"
                   style="
                    color: #420b0b;
                    text-decoration: none
                            ">
                    {{tag.title}}
                </a>
            </span>
        {% endfor %}
    </div>
    {% endif %}
</div>

