{% extends "home/base_home.html" %}
{% load static %}

{% block title %}
Вход
{% endblock %}

{% block home_content %}

<form action="{% url 'login_url' %}" method="POST" style="transform: translate(+150%, +50%);">
    <h1>Вход</h1>
    {% include 'template_forms.html' %}

    <div class="row" hidden>
        <button type="submit" class="btn btn-dange"
                style="margin-left:15px; ">Войти
        </button>
        <a href="{% url 'registration_url' %}" class="btn btn-dark"
           style="margin-left:20px;">Регистрация</a>
        <a href="{% url 'forgot_url' %}" class="btn btn-outline-primary"
           style="margin-left:20px;"> пароль</a>
    </div>
    <button type="submit" class="btn btn-danger mb-2">Войти
    </button>
    <p>Еще не зарегестрирванны? <a href="{% url 'registration_url' %}">Регистрация</a></p>
    <p>Забыли <a href="{% url 'forgot_url' %}">Пароль?</a></p>
</form>
{% endblock %}

