{% if page.object_list %}
<div id="comment-show">
    <div class="container mt-3">
        <ul class="list-group list-group-flush">
            {% for comment in page.object_list %}
            <li class="list-group-item comment-list" id="comments_list">
                <div class="row" style="color:white;">
                    <h5 class="col">
                        <a href="{% url 'user_url' username=comment.author %}">
                            {{ comment.author }}
                        </a>
                        {% if comment.is_edit %}
                        <span class="badge badge-dark">Изменен</span>
                        {% endif %}
                    </h5>
                    {% if comment.author.username == request.user.username or request.user.is_staff %}
                    {% include 'blog/includes/modal_delete.html' with action=comment.get_comment_delete_url id='modal_post_delete' %}
                    <div class="dropdown" style="margin-right: 20px; margin-top: 0px;">
                        <a class="dropdown-toggle" id="comment_action"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="comment_action">
                            <a class="dropdown-item" onclick="comment_new_show(1)" tabindex="0">
                                Изменить
                            </a>
                            <a class="dropdown-item" tabindex=""
                               onclick="$('#modal_post_delete').modal()">
                                Удалить
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <hr style="margin-top: 0px;"/>
                <p class="content-text">{{ comment.text }}</p>
                <form action="{% url 'comment_edit_url' slug=post.slug id=comment.id %}"
                      method="post" id="edit_text" hidden>
                    {% include 'template_forms.html' %}
                    <button type="submit" class="btn btn-danger">Изменить</button>
                    <a tabindex="0" onclick="comment_new_show(0)" class="btn btn-outline-danger">Отмена</a>
                </form>
                <hr style="margin-top: 25px; margin-bottom: 5px;"/>
                <p class="date_comment">{{ comment.date_create }}</p>
            </li>
            {% endfor %}
        </ul>
        {% include 'blog/includes/template_pages.html' %}
        {% endif %}
    </div>
    <div class="container ml-2">
        {% if request.user.is_authenticated %}
        <button class="btn btn-danger mt-2 mb-3" data-toggle="modal"
                data-target="#create_post">
            Добавить комментарий
        </button>
        {% else %}
        <p class="text-danger center" style="text-align: center;">
            Нужно быть авторизованным чтоб оставлять комментарии!
        </p>
        {% endif %}
    </div>
</div>