<div class="card mb-4">
    <div class="card-header">
        <h1 class="card-title content-text" style="margin-bottom: 5px;">{{ post.title }}</h1>
        <p id="author_post" style="margin-top: 0.1rem">
            Автор:
            <a class="author_link" href="{% url 'user_url' username=post.author %}">
                {{ post.author }}
            </a></p>
        {% if post.tags.all %}
        <hr style="margin-bottom: 5px; margin-top: 5px;">
        <div>
            {% for tag in post.tags.all %}
            <span class="badge badge-danger">
                <a href="{{ tag.get_absolute_url }}"
                   style="
                    color: #420b0b;
                    text-decoration: none
                            ">
                    {{tag.title}}
                </a>
            </span>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <div class="card-body">
        <p class="card-text content-text">{{ post.body|truncatewords:30 }}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-danger">Просмотреть</a>
    </div>
    <div class="card-footer text-muted">
        <p class="date_comment">{{ post.date_create }}</p>
    </div>
</div>
