{% extends "blog/base_blog.html" %}

{% block title %}
{{ post.title }} | {{ block.super }}
{% endblock %}

{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <div class="row" style="color:white;">
            <div class="col"><h1>{{ post.title }}</h1></div>
            <div class="col-md-3" style="color: rgba(125, 125, 125, 1);">{{ post.date_create }}</div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
    </div>
    <div class="card-footer text-muted">
        <p id="comments_label">Коментарии:</p>
        <hr/>
        {% if page.object_list %}
        <div id="comment-show">
            <div class="container mt-3">
                <ul class="list-group list-group-flush">
                    {% for comment in page.object_list %}
                    <li class="list-group-item comment-list" id="comments_list">
                        <div class="row" style="color:white;">
                            <div class="col">{{ comment.author }}</div>
                            <div class="col">{{ comment.date_create }}</div>
                        </div>
                        <hr>
                        <p>{{ comment.text }}</p>
                    </li>
                    {% endfor %}
                </ul>
                {% include 'blog/includes/template_pages.html' %}
                {% endif %}

            </div>
            <div class="container ml-2">
                {% if request.user.is_authenticated %}
                <button class="btn btn-danger mt-2 mb-3" data-toggle="modal"
                        data-target="#add_comment">Добавить комментарий
                </button>
                {% else %}
                <p class="text-danger center" style="text-align: center;">
                    Нужно быть авторизованным чтоб оставлять комментарии!
                </p>
                {% endif %}
            </div>

        </div>
    </div>

</div>


<div class="modal" tabindex="-1" role="dialog" id="add_comment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Коменнтировать</h3>
                <form action="{% url 'post_detail_url' slug=post.slug %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="loginInput">Имя</label>
                        <input type="text" class="form-control" id="loginInput" placeholder="Имя пользователя">
                    </div>
                    <div class="form-group">
                        <label for="CommentInput">Текст комментария</label>
                        <textarea class="form-control" id="CommentInput" rows="4" placeholder="Текст..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
   function comment_new_show() {
        document.getElementById("post_comment").hidden = false;
        document.getElementById("add_comment").hidden = true;
   }
</script>
{% endblock %}


